@{
    ViewBag.Title = "Home Page";
}
<style>
    .text-wrap{
        word-wrap: break-word
    }
</style>
<div class="jumbotron">
    <h1>@(User.Identity.Name)</h1>
    @* <p class="lead">ID Token : </p>
    <p class="lead">Access Token : @(ViewBag.IDToken)</p> *@
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-12">
        <input id="security-token-json" type="hidden" value="@(ViewBag.SecurityToken ?? '{}')" />
        <pre id="json-display"></pre>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ID Token</h2>
        <p class="text-wrap">@(ViewBag.IDToken)</p>
    </div>
    <div class="col-md-4">
        <h2>Access Token</h2>
        <p class="text-wrap">@(ViewBag.AccessToken)</p>
    </div>
        <div class="col-md-4">
        <h2>Refresh Token</h2>
        <p class="text-wrap">@(ViewBag.RefreshToken)</p>
    </div>
</div>


@section Scripts {
    
    <script>

        function getJson() {
            try {
                return JSON.parse($('#security-token-json').val());
            } catch (ex) {
                alert('Wrong JSON Format: ' + ex);
            }
        }

        $(function () {
           

            // initialize
            var editor = new JsonEditor('#json-display', getJson());

            // enable translate button
            $('#translate').on('click', function () {
                editor.load(getJson());
            });
        })
    </script>
    
}